html {
    box-sizing: border-box;  
}

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.main-dash {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    border: 5px dotted rgb(173, 0, 173);
}

.msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
  }
  
  .msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }

.inner-container {
    border: 2px dotted rgb(21, 0, 128);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.active-chat-list {
    border: 2px dotted rgb(1, 88, 0);
    flex-grow: 2;
    height: 100%;
    padding: 15px;
    margin: 15x;


}

.current-chat {
    border: 3px dotted rgb(232, 103, 131);
    flex-grow: 5;
    height: 100%;
    padding: 15px;

}


.msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
    margin: 20px 0px;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  .msger-input {
    flex: 1;
    background: #ddd;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 180, 50);
  }


  /* directmessages */

.fabutton {
  background: none;
  padding: 0px;
  border: none;

}

/* direct_message */
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80%;
  margin: 0 auto;
}

.chat-bubble {
  max-width: 70%;
  padding: 10px;
  border: 1px;
  border-radius: 10px;
  margin: 10px;
  
}
.sender-msg {
  background-color: #DBCBD8;
  align-self: flex-start;
}

.receiver-msg {
  background-color: #9ad4d6;
  align-self: flex-end;
}