
{% extends "main.html" %}

{% block content %}



<section class="main-dash">

    <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> CovertChat
        </div>

    </header>

    <main class="inner-container">
        <aside class="active-chat-list">
            <ul>
                <li>list</li>
                <li>of</li>
                <li>active chats</li>
            </ul>

        </aside>

        <aside class="current-chat">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p> {{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith%}
            <form action="/create-message" class="msger-inputarea" method="post">
                <select name="receiver_person_id">
                    <option value="0">Choose an User</option>

                    {% for user in all_users%}
                    <option value="{{user.user_id}}">{{user.first_name}}</option>
                    {% endfor%}

                </select>
                <input type="text" class="msger-input" name="content" placeholder="Enter your message...">
                <button type="submit" class="msger-send-btn">Send</button>
            </form>
            <div class="logged-in-user">
                user 1 chat bubble                 
            </div>
            
            <div class="other-user">
                user 2 chat bubble
                
            </div>

        </aside>
    </main>


</section>

{% endblock %}