
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link
            href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
            rel="stylesheet" type='text/css'>

        <link
        rel="stylesheet"
        href="{{url_for('static',filename='css/dash.css')}}"
        />
    </head>
    <!-- when displaying Message (Instance) class we are NOT using the query results but the init/constructor attributes -->
    <body>
        <div class="active-msg-window">
            
            {% if message_hist %}
            {% for message in message_hist %}
            <main class="chat-container" >
                {% if session['user_id'] == message.sender_person_id %}
                <div class='chat-bubble sender-msg' id='{{message.message_id}}'>

                    <!-- this span is not seen at first -->
                    <span style="display:none;" id="sender-message-{{message.message_id}}">
                        <input type="text" id="contentMsg-{{message.message_id}}" value="{{message.content}}">
                        <input type="hidden" name="receiver_person_id" id='receiver_person_id' value="{{message.receiver_person_id}}">
                    </span>
                    
                    <!-- this span is seen at first -->
                    <span id="update-sender-message-{{message.message_id}}">{{message.content}}</span>
                    
                    {{message.sender_person_id}} ||
                    {{message.receiver_person_id}} ||

                    <span class="fa fa-pencil edit-button" data-message-id="{{message.message_id}}" title="Edit"></span>


                    <span class="fa fa-trash" name="receiver_person_id" value="{{message.receiver_person_id}}" title="Delete" onclick="openDeleteModal('{{message.message_id}}')" id="delete-message-modal">
                    </span>

                    <form action="/dm/{{message.message_id}}" method= 'post' >
                        <input type="hidden" name="receiver_person_id" value="{{message.receiver_person_id}}" >
                        <button type="submit" class="fa fa-heart icon-larg fabutton">
                        
                        <span>{{message.liked_by|length}} likes</span>   
                        </button>
                    </form>

                </div>
                <p class='sender-timestamp'>{{message.created_at.strftime('%m-%d-%Y %T')}}</p>

                <div class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title" id="delete_id"></p>
                        <button class="delete" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            <h3 class="subtitle mb-6">Are you sure you want to delete message?</h3>
                        </section>
                        <footer class="modal-card-foot">
                            
                            <button class="button is-danger" onclick="deleteMessageById()" >Yes, Delete</button>

                            <button class="button is-dark" onclick="closeDeleteModal()" >No, Cancel</button>
                        </footer>
                    </div>
                </div>
                        
                
                {% else %}
                <div class='chat-bubble receiver-msg'>
                    <span><input type="text" style="display:none;">{{message.content}}</span>
                    {{message.sender_person_id}} ||
                    {{message.receiver_person_id}}||
                    <form action="/dm/{{message.message_id}}" method= 'post'>
                        <button type="submit" class="fa fa-heart icon-large fabutton" name="message_id" 
                        value="{{message.message_id}}">
                        
                        <span>{{message.liked_by|length}} likes</span>
                    </button>
                </form>
            </div>
            <p class="receiver-timestamp">{{message.created_at.strftime('%m-%d-%Y %T')}}</p>
                        {% endif %}
            </main>
                    {% endfor %}

                    {% else %}
                    <p> NO MESSAGES </p>
                    {% endif %}
                </div>
    </body>
</html>
