


{% block content %}


<main>

    <div id="message-container"></div>
    GROUP CHATTING!


    <!-- <div id="landing">
        <input type="text" id="username" placeholder="Username">
        <button id="join-btn">JOIN</button>
    </div> -->

    <!-- todo when clicking the button a form should display to create a name, add users -->
    <form action="/create-group-chat" class="form" method="post">
        <div>
            <label for="name" class="form__label">Name</label>
            <input type="text" name="group_name" placeholder="Name" class=""  />
        </div>
            
        <div>
            {% for user in all_users%}
            <label>
                {% if user.user_id != session['user_id']%}
                <input type="checkbox" name="group_members" value="{{user.user_id}}">{{user.first_name}}
                {% endif %}
            </label>
            {% endfor%}
        </div>
        <button>Create Group</button>
    </form>


    <script>
        // Establish a connection to the server using Socket.IO
        const socket = io.connect({autoConnect: false});

        document.getElementById("join-btn").addEventListener("click", function() {
            let username = document.getElementById("username").value;

            socket.connect();

            socket.on("connect", function() {
                socket.emit("user_join", username);
            })

            //document.getElementById("chat").style.display = "block";
            //document.getElementById("landing").style.display = "none";
        })
        
    </script>
</main>


{% endblock %}
