
<main>
    <div id="chat">
        <ul id="chat-messages">
        </ul>
    </div>
    <div class="chat-input">
        <label for="name" class="form__label"/>
        <input type="text" name="test_name"  id='message' placeholder="Test" class="" />
        <input type="hidden" name="username" id='username' placeholder="Test" value="{{username}}" />
    </div>
    <script>
        const currentLocation = document.location.pathname
        const socket = io.connect({ autoConnect: true });
        socket.connect();
        if (currentLocation.includes('/group-chat/')){
            const pathSplit = currentLocation.split('/')
            const groupId = pathSplit[2]
            // Establish a connection to the server using Socket.IO
            socket.on("connect", function() {
                console.log(socket.on())
                let username = document.getElementById("username").value;
                socket.emit("user_join", username);
                console.log(socket.emit(), username )
            })
            console.log("groupId", groupId)
        }
        document.getElementById("message").addEventListener("keyup", function (event) {
            if (event.key == "Enter") {
                let message = document.getElementById("message").value;
                socket.emit("new_message", message);
                document.getElementById("message").value = "";
            }
        })

        socket.on("chat", function(data) {
            let ul = document.getElementById("chat-messages");
            let li = document.createElement("li");
            li.appendChild(document.createTextNode(data[username] + ": " + data["message"]));
            ul.appendChild(li);
            ul.scrollTop = ul.scrollHeight;
        })

        console.log("Document location", document.location.pathname)
        

        document.getElementById("chat").style.display = "block";
    </script>
</main>