<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>

    <link
    rel="stylesheet"
    href="{{url_for('static',filename='css/dash.css')}}"
    />
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>


    <script src="{{url_for('static', filename='/js/script.js')}}" async></script>
    <script src="{{url_for('static', filename='/js/iconscript.js')}}" defer></script>
</head>
<body>
    <header class="hero has-background-#">
            <section>
                {% if session.user_id %}
                <header class="header1">
                    <h1 class="title is-2 has-text-white">CovertChat</h1>
                    <nav>
                    <a class="button is-rounded has-text-warning is-inverted" href="/dashboard">Home</a> 
                        <a class="navbut button has-text-warning is-rounded" href="/logout">Log Out</a>
                    </nav>
                </header>
                {% else %}
                <header class="header1">
                    <h1 class="title is-2 has-text-white">CovertChat</h1>
                </header>
    
                {% endif %}
            </section>
    </header>
    {% block content %}
    can't see content inside here
    {% endblock content %}
    
    <div class="bottom-footer">
        <p class="footer-msg"> © 2023 Covert Chat </p>
    </div>
    
</body>
</html>