<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link
    rel="stylesheet"
    href="{{url_for('static',filename='css/dash.css')}}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>

</head>
<body>
    <header class="hero has-background-black">
        
        <div class="hero-body">
            <section class="container is-flex is-align-items-center is-justify-content-center ">
                {% if session.user_id %}
                <header>
                    <nav>
                        <a class="button has-text-primary" href="#">Home</a>
                        <a class="button has-text-primary" href="#">Create a group chat</a>
                        <a class="button has-text-primary" href="/logout">Log Out</a>
                        BUILD OUT MORE NAV BAR
                    </nav>
                </header>
    
                {% endif %}
            </section>
        </div>
    </header>
    block header starts here
    {% block content %}
    can't see content inside here
    {% endblock content %}
    can see part after blocked content - FOOTER 
    
</body>
</html>